#land {
  background-color: $primary-color;
  color: $light-font-color;
  min-height: 100vh;
  height: 100vh;

  h1 {
    font-weight: 100;
    font-size: 6vw;
  }

  p {
    font-weight: 300;
    font-size: 1.5vw;
    margin-top: 5vh;
  }
}
